<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <style>
        div {
            outline: 1px dashed black;
            background-color: #f0f0f0ac;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Action 1</a>
                                <a class="dropdown-item" href="#">Action 2</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex my-2 my-lg-0">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
          </div>
        </nav>
        
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae architecto
                    necessitatibus accusamus voluptatum! Iste ullam accusantium quo fuga? Quisquam inventore aliquam
                    hic. Quibusdam quis id deserunt esse perferendis libero possimus.</div>
                <div class="col-3">Amet sint, nobis possimus aperiam veritatis recusandae quo labore! Recusandae vel
                    delectus architecto nisi? Facilis, dignissimos delectus soluta est, provident qui magnam, magni
                    dolor nam corporis quod repudiandae modi maxime.</div>
                <div class="col-3">Fugit modi ipsa natus iste a ipsum? Beatae ratione iusto temporibus labore nobis in
                    veritatis, quos eos animi qui iste minus inventore deserunt quod suscipit atque enim culpa pariatur.
                    Possimus.</div>
                <div class="col-3">Maiores, nulla optio. Deleniti, doloremque? Consequuntur praesentium, perferendis
                    libero enim quaerat debitis eveniet, porro nisi ipsa, inventore dolor quos numquam quibusdam! Ipsa,
                    tempore officiis eum impedit ad dignissimos totam minus.</div>
                <div class="col-3">Voluptatem explicabo veniam sapiente corporis facere culpa aliquam quo tempora,
                    totam, blanditiis magni eius. Hic nesciunt illum adipisci et sit? Et debitis esse alias vero
                    repudiandae, obcaecati minima id itaque?</div>
                <div class="col-3">Sunt at quia mollitia, ipsum animi earum vitae asperiores sint incidunt sed dolorum
                    praesentium odit, deleniti adipisci in debitis eveniet veritatis consectetur sequi. Dolorum, eos.
                    Error possimus velit ullam sunt?</div>
                <div class="col-3">Explicabo atque fugit quaerat, deleniti nesciunt eligendi repellendus necessitatibus
                    sunt? Vero, itaque! Molestiae laudantium vitae consequuntur odit qui non deleniti placeat. Totam
                    commodi ipsam illo at amet dicta facilis quos.</div>
                <div class="col-3">Incidunt, asperiores suscipit ex officiis atque, assumenda, molestias vel voluptatum
                    impedit itaque eius accusamus excepturi vero fugiat voluptatem dolor. Et consectetur nesciunt alias
                    sapiente explicabo minima qui, commodi laborum voluptatibus?</div>
                <div class="col-3">Optio adipisci quod vero odio porro aliquam animi! Repellendus, autem beatae atque
                    facere debitis minus iusto? Doloremque sequi vero ad adipisci commodi ratione exercitationem beatae,
                    itaque sunt incidunt culpa tempora!</div>
                <div class="col-3">Ipsum quis beatae pariatur delectus ratione voluptatem error quae porro, ut quo
                    consequatur atque cupiditate dolor. Quam rerum velit quasi, culpa praesentium facilis sed soluta
                    iste nesciunt repellendus. Delectus, sint?</div>
                <div class="col-3">Voluptate beatae inventore qui eius dolorem expedita ab officia, id eveniet neque
                    voluptas animi dolores totam veritatis hic velit deserunt architecto! Fugit suscipit nam sint error
                    voluptatem? Voluptatum, officia accusamus.</div>
                <div class="col-3">Sapiente facere doloremque, atque dolor tenetur qui. Earum quam, voluptates suscipit
                    expedita rerum accusantium mollitia maxime neque temporibus excepturi, tempore sed ducimus quaerat,
                    optio nemo porro obcaecati nostrum consequatur blanditiis.</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi officia quas obcaecati sunt deleniti libero! Quod alias at iure aut cumque amet quisquam. Obcaecati eveniet nesciunt perferendis odio consequatur. Nisi.</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Provident, facilis quasi minus ex dolores, vero exercitationem quod possimus quae, tempore ducimus laudantium! Debitis molestiae vel doloribus fugiat numquam soluta temporibus reiciendis! Vel dolor, qui ipsam ea officiis exercitationem?</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Dolorum amet, sed, eum aspernatur tempore temporibus enim libero, consequuntur explicabo aperiam ipsa in ab nemo. Iste, odio suscipit saepe, quae perspiciatis corrupti vitae harum exercitationem esse distinctio perferendis fugiat!</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Qui unde quasi sed. Pariatur non nobis possimus vel accusantium facilis ut. Excepturi harum error, doloremque neque adipisci id voluptas, ipsum, illum obcaecati dicta quo eos quas quaerat molestiae placeat.</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Nihil doloremque sed, cumque ducimus ratione culpa nisi temporibus aperiam minima quae nulla deserunt vitae quasi ipsa, iste consequuntur totam dolorum? Fuga consectetur tempora, laboriosam itaque recusandae debitis quisquam repudiandae!</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">A consectetur, fugit iure reiciendis ab earum esse eaque neque id minima! Maxime aspernatur asperiores odit! Nobis quidem porro provident accusamus impedit voluptatibus voluptas in, itaque architecto earum autem reprehenderit.</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Blanditiis in praesentium fugit officia molestias dolorem, eos eligendi libero corporis, odit explicabo repellendus quaerat temporibus voluptatem aut sunt facilis, et quam animi placeat impedit labore soluta! Saepe, iste delectus.</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Atque libero at quo asperiores autem reprehenderit nostrum nisi perferendis eveniet eos. Sequi necessitatibus omnis unde vero, voluptas nihil pariatur assumenda, hic officia explicabo saepe a? Quae quidem quia accusamus.</div>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>