<div id="todo-list" class="pt-5">
    <form class="d-flex" hx-post="{% url 'add' %}">
        {% csrf_token %}
        <div class="col">
            <div class="mb-3">
                <label for="task" class="form-label">Add a task</label>
                <input type="text" name="task" id="task" class="form-control form-control-lg" placeholder="Bring 🎁">
            </div>
        </div>
    </form>
    <div class="col">
        {% for item in task_list %}
        <div class="d-flex justify-content-between">
            
            {% if item.is_completed %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" 
                id="{{item.title}}" value="{{item.id}}"
                hx-get="{% url 'update' item.id %}" checked>
                <label class="form-check-label" for="{{item.title}}">
                    <del>{{item.title}}</del>
                </label>
            </div>
            {% else %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" 
                id="{{item.title}}" value="{{item.id}}"
                hx-get="{% url 'update' item.id %}">
                <label class="form-check-label" for="{{item.title}}">{{item.title}}</label>
            </div>
            {% endif %}
                
            <button type="button" class="btn btn-outline-danger" hx-get="{% url 'delete' item.id %}">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <hr>
        {% empty %}
        <div class="alert alert-warning" role="alert">
            Please enter a task!
        </div>
        {% endfor %}
    </div>
</div>